<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/37d75d1a-98a0-43fb-bd00-862e02e0f401/resourceGroups/LMS_Resource_Group/providers/Microsoft.Web/sites/usermgbackend20230112192112</ResourceId>
    <ResourceGroup>LMS_Resource_Group</ResourceGroup>
    <ApiResourceId>/subscriptions/37d75d1a-98a0-43fb-bd00-862e02e0f401/resourceGroups/LMS_Resource_Group/providers/Microsoft.ApiManagement/service/usermgbackendapi/apis/usermgbackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://usermgbackend20230112192112.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4682f669-a539-4d24-a393-0926a50db87d</ProjectGuid>
    <MSDeployServiceURL>usermgbackend20230112192112.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>usermgbackend20230112192112</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$usermgbackend20230112192112</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>