.users{
    flex: 4;
}

.approve{
     border: none;
     border-radius: 10px;
     padding: 5px 10px;
     background-color: #36d086;
     color: white;
     margin: 2px;
}

.reject{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #d03636;
    color: white;
    margin: 2px;
}

.leaveAdd{
    border: none;
    height: 40px;
    width: 150;
    font-size: large;
    border-radius: 10px;
    background-color: #36d086;
    color: white;
}

.requestLeave{
    border: none;
    height: 40px;
    width: 300px;
    font-size: large;
    border-radius: 10px;
    background-color: #36d086;
    color: white;
}

.leaveEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #368dd0;
    color: white;
    margin: 2px;
}

.leaveAdd_div{
    padding-bottom: 10px;
}

.Reject:hover,.Approve:hover,.leaveAdd:hover{
    background-color: rgb(255, 255, 255);
}

.userimg_div{
    display: flex;
    align-items: center;
}

.userimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.submitbtn{
    float: right;
}

.info-card-1{
    margin: 10px;
    border: 4px solid #0097E6;
}

.info-card-2{
    margin: 10px;
    border: 4px solid #15fb2ca0;
}

.info-card-3{
    margin: 10px;
    border: 4px solid #c60f0fa4;
}

.info-card-4{
    margin: 10px;
    border: 4px solid #f7fb15ab;
}

.title1{
    margin-top: 20px;
}

.title2{
    margin-top:40px;
}


@media screen and (max-width: 767px) {
    .ant-row {
      display: block;
      flex-wrap: wrap;
    }
  }
  